extends layout

block content
  h1= title
  div
    table.table.table-bordered.table-striped#data_table
      thead
        tr.head
          th date
          th buy
          th sell 
      tbody
        each doc in content
          tr
            td= doc.date 
            td= doc.buy 
            td= doc.sell
  canvas.chart(width='400', height='400')

block javascripts
  script(src='javascripts/data_table.js')
  script(src='javascripts/chart.js/dist/Chart.min.js')
  script(src='javascripts/line_chart.js')
