extends layout

block content
  h1= title
  div
    table.table.table-bordered.table-striped
      thead
        tr.head
          th date
          th buy
          th sell 
      tbody
        each doc in content
          tr
            td= doc.date 
            td= doc.buy 
            td= doc.sell
